body{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(160, 160, 160);
}
table{
    height: 55rem;
    width: 55rem;
    margin: auto;
    margin: auto;
  /* margin-top: 100px; */
    /* height: 300px; */
    /* width: 300px; */
}
tbody{
    height: 100%;
    width: 100%;
    border: 8px solid black;
    padding: auto;
    text-align: center;

}
.cube{
    height: 2rem;
    width: 2rem;
    /* height: 10px; */
    /* width: 100px; */
    font-size: larger;
    font-weight: 100px;
    cursor: pointer;
    

}
.hidden{
    background-color:rgb(79, 79, 79) ;
    border-top: 5px solid rgba(0, 0, 0, 0.706);
    border-left: 5px solid rgba(0, 0, 0, 0.706);
    border-bottom: 5px solid lightgray;
    border-right: 5px solid lightgray;
}
.hidden span{
opacity: 0;
}
.not{
    background-color: red;
    
}
.hide{
    opacity: 1;
}
.container{
    height: 156px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.container .btn{
    text-align: center;
    height: 57px;
    width: 80px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.restart .new{
    height: 50px;
    width: 50px;
    margin-bottom: 100px;
}
.timer{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: brown;
}
.box1{
    display: none;
    font-size: 8ch;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.box2{
    display: none;
    font-size: 8ch;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}